.bg-grey {
    background-color: GREY;
}

.input1 {
    border: 1px solid grey;
    width: 100%;
    padding: .1rem 0;
}

.input1:focus {
    outline: none !important;
}

.btn-size {
    font-size: 14px;
    font-weight: bold !important;
}