@import url("https://fonts.googleapis.com/css2?family=Lato&family=Mulish&family=Poppins&display=swap");

* {
  margin: 0xp;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg-f6f5f3 {
  background-color: #f6f5f4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.f-14 {
  font-size: 14px;
}

.color__000 {
  color: #000;
}

a {
  outline: none;
}

.font-weight-bolder {
  font-weight: bolder;
}

a {
  text-decoration: none;
}

.main__padding {
  padding: 0 140px;
}

.main__padding_COl {
  padding: 0 125px;
}

.cl-707070 {
  color: #707070;
}

nav {
  /* background: #f1f2f4;
     */
}

.bg-f8af2e {
  background-color: #f8af2e;
}

.costumInput {
  height: 43px;
  border-radius: 8px;
}

.radius-0 {
  border-radius: 0px !important;
}

.btnGroup1 {
  background-color: #d93a3e;
  border-color: #d93a3e !important;
}

.btnGroup2 {
  background-color: #f4622f;
  border-color: #f4622f !important;
}

.btnGroup2:hover {
  background-color: #f4622f;
  border-color: #f4622f !important;
}

.bg-2a7a1 {
  background-color: #2a7ad1;
  border-color: #2a7ad1 !important;
}

.bg-3171b9 {
  background-color: #3171b9;
}

.cl-4CAF50 {
  color: #4caf50;
}

.btnGroup3 {
  background-color: #5f6f89;
  border-color: #5f6f89 !important;
}

.relative__btns {
  position: relative;
  top: 33px;
}

.cardTopImg {
  position: absolute;
  top: -1px;
  right: 0%;
}

.radiusTopRight {
  border-top-right-radius: 7px;
}

/*====OFFERS====*/

.offers h2 {
  font-size: 1.5rem;
}

.os-main {
  background-color: #f5f5f5;
  /* width: 85%; */
  border: 1px solid #707070;
}

.os-main h2 {
  color: #4caf50;
}

.os-main input {
  width: 100%;
  font-size: 14px;
}

.reset-btn {
  color: #444444;
  border: none;
  background: transparent;
  font-size: 17px;
}

.com-cleaning a,
.res-cleaning a {
  display: block;
  text-decoration: none;
  color: #444444;
  font-size: 14px;
  line-height: 2;
}

.com-cleaning a:hover,
.res-cleaning a:hover {
  color: #3171b9;
}

/*====TRENDING CATEGORIES====*/

.tc-text p {
  font-size: 14px;
}

.tc-icon img {
  width: 20%;
}

footer {
  width: 100%;
}

footer .content {
  /* max-width: 98%; */
  margin: auto;
  padding: 30px 0px;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.footerChild__1 {
  padding-left: 0px !important;
}

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
}

@media (max-width: 1100px) {

  .main__padding,
  .main__padding_COl {
    padding: 0 15px;
  }
}

@media (min-width: 1650px) {
  .main__padding {
    padding: 0 190px;
  }
}

@media (max-width: 700px) {
  footer {
    position: relative;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
}

@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
}

@media only screen and (max-width: 600px) {
  .sm__100 {
    width: 100%;
  }

  .padding__left__1rem {
    padding-left: 1rem !important;
  }

  .padding__Zero {
    padding: 0px !important;
  }

  .anchorNavHover {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .smallIcon {
    width: 16px;
    height: 16px;
  }

  .fdreverse {
    flex-direction: column-reverse;
  }

  .logoNav {
    width: 100px;

    margin: auto;
    display: flex;
  }

  .text__sm__center {
    text-align: center;
  }

  .relative__btns {
    position: relative;
    top: 0px !important;
  }

  .btnGroup2,
  .btnGroup1,
  .btnGroup3 {
    border-radius: 8px !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1231px) {
  .tc-icon {
    width: 30%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1150px) {

  /*====OFFERS====*/
  .offers h2 {
    font-size: 28px;
  }

  .com-cleaning a,
  .res-cleaning a {
    font-size: 12px;
  }

  /*====TRENDING CATEGORIES====*/
  .tc-text h2 {
    color: var(--mainbg);
  }

  .tc-text p {
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  /*====OFFERS====*/
  .os-main {
    width: 100%;
    font-size: 12px;
  }

  .offers h2 {
    font-size: 21px;
  }

  .com-cleaning a,
  .res-cleaning a {
    font-size: 12px;
    line-height: 2;
  }

  .search-btn {
    padding: 5px 16px;
    font-size: 13px;
  }

  .reset-btn {
    padding: 5px 0px;
    font-size: 15px;
  }

  /*====TRENDING CATEGORIES====*/
  .tc-text h2 {
    font-size: 24px;
  }

  .tc-text p {
    font-size: 14px;
  }

  .tc-icon {
    width: 30%;
  }

  .tc-icon img {
    width: 23%;
  }
}

/*====SMALL SCREEN====*/

@media screen and (min-width: 576px) and (max-width: 767px) {

  /*====OFFERS====*/
  .search-btn {
    padding: 6px 35px;
    font-size: 17px;
  }

  .reset-btn {
    padding: 6px 0px;
    font-size: 17px;
  }

  .com-cleaning a,
  .res-cleaning a {
    line-height: 2;
  }

  /*====TRENDING CATEGORIES====*/
  .tc-text h2 {
    font-size: 25px;
  }

  .tc-text p {
    font-size: 17px;
  }

  .tc-icon {
    width: 30%;
  }

  .tc-icon img {
    width: 20%;
  }
}

@media screen and (max-width: 574px) {
  .tc-icon {
    width: 30%;
  }

  .tc-icon img {
    width: 20%;
  }
}

@media screen and (min-width: 295px) and (max-width: 348px) {
  .tc-icon {
    width: 35%;
  }
}

/*====CARPET CLEANING====*/

.cc-heading h2 {
  font-weight: 800;
}

.cc-heading p {
  color: #7e7e7e;
  font-weight: 700;
}

.enquireButton button {
  width: 100%;
}

.listCard {
  /* width: 75%; */
}

.listCard .card {
  flex-direction: row;
  transition: 0.7s ease-in-out;
}

.cardMainAnchor {
  margin-bottom: 1.5rem;
}

.listCard .card .mainImageCard {
  width: auto !important;
}

.listCard .card .card-body .card-text {
  text-align: start !important;
  padding-right: 18px;
}

.listCard .card .radiusTopRight {
  border-top-right-radius: 0 !important;
}

/*====PARAGRAPH====*/

.p-list {
  list-style-type: circle;
  padding: 1rem !important;
}

/*====REVIEWS====*/

.r-img img {
  width: 20px;
}

.reviews-card {
  border: 2px solid #4caf50;
}

.reviews-card h6 {
  font-weight: 700;
}

.reviews-card p {
  font-weight: 500;
  color: #7e7e7e;
}

.star-5 {
  color: #c0c0c0;
}

.rc-2,
.rc-3 {
  border: 2px solid #d5d5d5;
}

.serviceProviderCol {
  flex: 0 0 auto;
  width: 32.55555555%;
}

@media screen and (max-width: 768px) {
  .cc-heading h2 {
    font-size: 22px;
  }

  .listCard .card .mainImageCard {
    width: auto !important;
  }

  .cardMainAnchor {
    padding: 0px !important;
  }

  .listCard {
    width: 100%;
  }

  .serviceProviderCol {
    flex: 0 0 auto;
    width: 100%;
  }

  .listCard .card .radiusTopRight {
    width: 155px !important;
    height: 161px;
  }
}

@media screen and (max-width: 574px) {
  .mob-center {
    text-align: center;
  }

  .cch-btn {
    width: 100%;
  }

  .p-list li {
    padding: 0.5rem 0;
  }
}

/*====SERVICE.HTML UPDATED====*/

.modal-header h5 {
  font-size: 24px;
  font-weight: 700;
}

.wmInp {
  height: 48px;
  border-radius: 3px;
  padding: 0 2rem;
  border: 1px solid #d7d5d2;
}

.wmAbs {
  top: 58%;
  left: 8%;
}

.wmSwitch {
  border-color: #65605d;
}

.wmBtn:focus {
  outline: none !important;
}

.wmdMenu {
  width: 100%;
  padding: 1rem;
  font-size: 14px;
}

.wmRadio {
  width: 15px;
  height: 15px;
}

.wmInpFtr {
  width: 22px;
  height: 22px;
}

.serviceModal {
  min-width: 750px !important;
}

.watchModal {
  min-width: 700px !important;
  font-size: 14px;
}

.wf-14 {
  font-size: 14px;
}

.wf-24 {
  font-size: 24px;
}

.wf75 {
  font-size: .75rem;
}

.wf85 {
  font-size: .85rem;
}

.modal-header h5 {
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width:768px) {
  .wmAbs {
    top: 58%;
    left: 8%;
  }

  .watchModal {
    min-width: 94% !important;
    font-size: 14px;
  }

  .wmInp {
    height: 48px;
    border-radius: 3px;
    padding: 0 1.7rem;
    border: 1px solid #d7d5d2;
  }

  .wmAbs {
    top: 58%;
    left: 4%;
  }

  .wmfBtn {
    width: 100%;
    display: block !important;
  }
}

.checkBoxWatchList {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5);
  /* IE */
  -moz-transform: scale(1.5);
  /* FF */
  -webkit-transform: scale(1.5);
  /* Safari and Chrome */
  -o-transform: scale(1.5);
  /* Opera */
  padding: 9px;
}
.cardWatchListCard{
  position: absolute;
  left: 8px;
  top: 8px;
}