:root{
    --blue: #f6f5f4;
}

@font-face {
    font-family: trebuc;
    src: url('../../../fonts/trebuc.ttf');
}
div span section body{
    font-family: trebuc !important;
}
.bg-blue{
    background-color: var(--blue);
}

.cp{
    cursor: pointer;
}

.nav-link.active.approved{
    background-color: rgb(67, 189, 67) !important;
}
.nav-link.active.pending{
    background-color: rgb(74, 131, 255) !important;
}
.nav-link.active.rejected{
    background-color: rgb(255, 44, 44) !important;
}
.nav-link.active.all{
    background-color: rgb(105, 85, 219) !important;
}
.wsnw{
    white-space: nowrap;
}

.serviceDescription {
    white-space: nowrap;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

